@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap");

.Weather {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border-radius: 100px 100px 0px 0px;
  background: linear-gradient(
    180deg,
    rgba(175, 211, 226, 0.7) 0%,
    rgba(246, 241, 241, 0.5) 100%
  );
}

.Weather h2 {
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Weather h6 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.Weather form {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
.Weather .form-control {
  width: 426px;
  height: 30px;
}

.Weather .btn {
  width: 119px;
  height: 30px;
  border-radius: 5px;
  background: #146c94;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Weather .temperature {
  color: #000;
  font-size: 128px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Weather .unit {
  color: #0000009f;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  position: relative;
  top: -60px;
  padding: 3px;
}

#weather-icon {
  max-width: 350px;
}
