@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap");

.App {
  border-radius: 100px 100px 0px 0px;
  background: linear-gradient(
    180deg,
    rgba(175, 211, 226, 0.7) 0%,
    rgba(246, 241, 241, 0.5) 100%
  );
  margin: 60px 10% 0px;
  padding-bottom: 100px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
}
.Weather {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.Weather h2 {
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.Weather h6 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.Weather form {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
.Weather .form-control {
  max-width: 426px;
  height: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.Weather .btn {
  max-width: 119px;
  height: 30px;
  border-radius: 5px;
  background: #146c94;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Weather .temperature {
  color: #000;
  font-size: 128px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Weather .unit {
  color: #000000d8;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  position: relative;
  top: -55px;
  padding: 3px;
}

[data-testid="rotating-square-wrapper"] {
  display: flex;
  justify-content: center;
}

#weather-icon {
  max-width: 500px;
  max-height: 350px;
  margin: 40px 0;
}

@media (max-width: 576px) {
  body {
    overflow-x: hidden !important;
  }
  .container {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }
  #weather-icon {
    max-width: 100%;
  }

  .Weather h2 {
    font-size: 40px;
  }
  .Weather .temperature {
    font-size: 100px;
  }
  .Weather .unit {
    font-size: 30px;
  }
  .App {
    margin: 0;
  }
  .btn {
    margin-top: 10px;
    width: 200px;
  }
}
